@page
@model Web_App_Forum_Film.Pages.Crud.DetailsModel

@{
    ViewData["Title"] = "Details";
    string src = "https://image.tmdb.org/t/p/w500";
    int x = 0;
}



<h1 class="text-center" style="color:white">@Model.Topic.Titolo</h1>
<div class="container-fluid align-content-center">
    <div class="col-md-12">
        <div class="card" style="width: 50rem;">
            <img src="@src@Model.Topic.Film.Poster_Path" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">TOPIC: @Model.Topic.Titolo</h4>
                <b class="card-text">TITOLO FILM:@Model.Topic.Film.Titolo_Originale</b><br />
                <b class="card-text">LINGUA ORIGINALE:@Model.Topic.Film.Lingua_Originale</b><br />
                <b class="card-text">GENERE: @Model.Topic.Film.Genere</b><br />
                <b class="card-text">DESCRIZIONE: @Model.Topic.Film.OverView</b><br />
            </div>


            <h4 class="text-center"><a asp-route-id="@Model.Topic.Id" asp-page="/Crud/CreaPost">AGGIUNGI UN POST!</a></h4>
            <div class="row">
                @foreach (var post in Model.Posts)
                {
                    x = 0;
                    <div class="card" style="width: 20rem;">
                        <p style="color:gray">
                            @post.Messaggi[0].Data_Creazione.ToShortDateString()
                            @post.Messaggi[0].User.Nome @post.Messaggi[0].User.Cognome
                        </p>
                        <b>@post.Messaggi[0].Messaggio</b>
                        <div class="card-body">

                            @foreach (var messaggio in post.Messaggi)
                            {
                                if (x != 0)
                                {
                                    <p>
                                        <span style="color:gray">
                                            @messaggio.Data_Creazione.ToShortDateString()
                                            @messaggio.User.Nome @messaggio.User.Cognome
                                            <br />
                                        </span>
                                        <b>@messaggio.Messaggio</b>
                                    </p>
                                }
                                x++;
                            }

                            <form method="post">
                                <p>Aggiungi un messaggio!</p>
                                <input type="text" name="messaggio" />
                                <input type="hidden" name="id" value="@post.Id" />
                                <input type="hidden" asp-for="Topic.Id" value="@Model.Topic.Id" />
                                <input type="submit" value="Aggiungi" />
                            </form>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>
